
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 150%;
}

.index-header {
    background-color: #4aaaa5;
    color: #ffffff;
    border-top: 5px #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
}

.navbar-navbar-default {
    float: right;
    text-align: center;
    margin: 0;
    padding: 0;
}

.index-h2 {
    background-color: #ffffff;
    color: #4aaaa5;
    padding: 20px;
}

.container {
    margin: 0 auto;
    width: 960px;
    border: 1px #ffffff;
}

.footer {
    text-align: center;
    background-color: #666666;
    color: #ffffff;
}
